services:
  clickhouse:
    image: docker.io/clickhouse/clickhouse-server:24.3
    user: "101:101"
    environment:
      CLICKHOUSE_DB: default
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_TCP_PORT: 9002
    volumes:
      - langfuse_clickhouse_data:/var/lib/clickhouse
      - langfuse_clickhouse_logs:/var/log/clickhouse-server
    ports:
      - 127.0.0.1:18123:8123
      - 127.0.0.1:19001:9002
    depends_on:
      - postgres

  minio:
    image: docker.io/minio/minio:RELEASE.2025-07-23T15-54-02Z
    entrypoint: sh
    # create the 'langfuse' bucket before starting the service
    command: -c 'mkdir -p /data/langfuse && minio server --address ":9090" --console-address ":9091" /data'
    environment:
      MINIO_ACCESS_KEY: ${LANGFUSE_S3_BATCH_EXPORT_ACCESS_KEY_ID}
      MINIO_SECRET_KEY: ${LANGFUSE_S3_BATCH_EXPORT_SECRET_ACCESS_KEY}
    ports:
      - 127.0.0.1:19010:9090
      - 127.0.0.1:19011:9091
    volumes:
      - langfuse_minio_data:/data
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 1s
      timeout: 5s
      retries: 5
      start_period: 1s

  redis:
    image: docker.io/redis:7.2.4
    restart: always
    command: >
      --requirepass ${REDIS_AUTH:-myredissecret}
    ports:
      - 127.0.0.1:16379:6379

  postgres:
    image: docker.io/postgres:${POSTGRES_VERSION:-17.6}
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -p 5433"]
      interval: 3s
      timeout: 3s
      retries: 10
    command: ["postgres", "-c", "log_statement=all", "-p", "5433"]
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=PgStr0ng#Pwd2024
      - POSTGRES_DB=postgres
      - PGPORT=5433
    ports:
      - 127.0.0.1:25432:5433
    volumes:
      - langfuse_postgres_data:/var/lib/postgresql/data

volumes:
  langfuse_postgres_data:
    driver: local
  langfuse_clickhouse_data:
    driver: local
  langfuse_clickhouse_logs:
    driver: local
  langfuse_minio_data:
    driver: local
